body {
    background-image: url("../img/inicio.png");
    background-size: 1360px 810px;
    overflow: hidden;
  }
  .contenedor{
    font-family: 'Amsterdam', sans-serif;
    text-align: center!important;

  }
.boton{
  text-align: center;
}  

  